chromadb==0.4.15
tiktoken==0.5.1
langchain==0.0.336
openai==0.27.4
django==4.2.7
drf-yasg==1.21.7
django-cors-headers==4.3.1
django-oauth-toolkit==2.3.0
pillow==10.0.1
social-auth-app-django==5.4.0
django-celery-results==2.5.1